<footer>
    <ul class="social-icon">
        <li><a href=""><i class="fa-brands fa-facebook"></i></a></li>
        <li><a href=""><i class="fa-brands fa-twitter"></i></a></li>
        <li><a href=""><i class="fa-brands fa-instagram"></i></a></li>
        <li><a href=""><i class="fa-brands fa-youtube"></i></a></li>
        <li><a href=""><i class="fa-brands fa-linkedin"></i></a></li>
    </ul>
    <p>© 2023 All Rights Reserved | Designed By Rajiv Gupta <i class="fa-solid fa-heart"></i></p>
</footer>
