.my-orders{
    margin-bottom: 80px;
}
.my-orders h1{
    margin-top: 20px;
    margin-bottom: 20px;
    text-align: center;
}
.order-img{
    width: 100px;
}
.order-data{
    margin-top: 10px;
    margin-bottom: 10px;
    padding-bottom: 10px;
    border-bottom: 1px solid #ddd;
}